.background-img--about
  background-image: url('../img/rad-scritta.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &.full-height
    +breakpoint(eq_mobile)
      min-height: 320px

.about
  background-color: $black
  +paddingY(6)
  +breakpoint(tab)
    +paddingY(0)

.about-content
  +paddingX(3)
  +breakpoint(tab)
    +paddingX(9)
  +breakpoint(desk)
    +paddingX(14)
  p
    color: $white
    line-height: 1.4
    +font-size(16)
    +padding-bottom(5)
    +breakpoint(tab)
      +font-size(18)
      +padding-bottom(3)
  .about-content__title
    color: $white
    font-weight: 700
    +padding-bottom(2)
    +font-size(22)
    +breakpoint(tab)
      +font-size(24)

.about-slider
  height: 100%
  overflow: hidden
  .owl-stage
    display: flex
    flex-direction: row
    position: relative
    left: 0
    +breakpoint(tab)
      left: -20px
    +breakpoint(desk)
      left: -60px
    .owl-item
      filter: grayscale(1)
      +transition
      &.active
        filter: grayscale(0)
  &.owl-carousel
    .owl-dots
      text-align: left
      +padding-left(2)
      .owl-dot
        span
          border: 2px solid $white
          opacity: .5
        &.active
          span
            border: 2px solid $white
            opacity: 1


//VIDEO


.about-video
  &.full-width-bg
    // top: -5%
    height: 100%
    // +breakpoint(tab)
    //   height: 40vh
  .about-video-ui__playpause--text
    color: $white
    text-transform: uppercase
    width: 120px
    height: 120px
    border: 1px solid $white
    border-radius: 150px
    display: flex
    justify-content: center
    align-items: center
    font-weight: 700
    +font-size(12)
  .about-video-ui__playpause
    cursor: pointer
  .about-video-ui
    background-color: #000
    position: relative
    height: 100%
    // top: 0
    // +breakpoint(tab)
    //   top: -10%
    // +breakpoint(desk)
    //   top: -30%
    // +breakpoint(wall)
    //   top: -60%
    .about-video-ui__video
      width: 200%
      position: absolute
      bottom: 50%
      left: -50%
      transform: translateY(50%)
      +breakpoint(tab)
        left: unset
        width: 100%
        transform: translateY(50%)

.get-out
  min-height: 0
  transform: translateY(-100%)
  +transition

// .positive
//   .page-template-about
//     .full-screen
//       .get-out
//         min-height: 0
//         transform: translateY(-100%)
//         +transition
//       .about__video-ui__video
//         height: 100vh

.about-video__box
  min-height: 60vh
  +breakpoint(tab)
    min-height: 70vh
