.all-works
  position: relative
  height: 100%
  min-height: 50px
  +breakpoint(tab)
    min-height: 80px
  +breakpoint(desk)
    min-height: 100px
// Pippo
.all-works__link
  display: block
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  &:hover
    .all-works__link-squares
      +setColor($primary-color)
        background-color: $color
      +setColor($primary-color)
        box-shadow: -0.6em 0 $color, -0.6em 0.6em $color, 0.6em 0 $color, 0.6em -0.6em $color, 0 -0.6em $color, -0.6em -0.6em $color, 0 0.6em $color, 0.6em 0.6em $color
    .all-works__link-label
      +setColor($primary-color)
        color: $color

.all-works__link-squares
  width: .3em
  height: .3em
  display: block
  border-radius: 0
  transition: all 0.25s cubic-bezier(0.12, 0.75, 0.4, 1)
  -webkit-transition: all 0.25s cubic-bezier(0.12, 0.75, 0.4, 1)
  -moz-transition: all 0.25s cubic-bezier(0.12, 0.75, 0.4, 1)
  font-size: 20px
  position: relative
  left: 50%
  top: 50%
  transform: translate(-50%, 0)
  +setColor($secondary-color)
    background-color: $color
  +setColor($secondary-color)
    box-shadow: -0.5em 0 $color, -0.5em 0.5em $color, 0.5em 0 $color, 0.5em -0.5em $color, 0 -0.5em $color, -0.5em -0.5em $color, 0 0.5em $color, 0.5em 0.5em $color

.all-works__link-label
  +font-size(11)
  text-transform: uppercase
  position: absolute
  display: none
  left: 0
  bottom: 6px
  width: 100%
  text-align: center
  letter-spacing: 1px
  font-weight: 700
  +setColor($secondary-color)
    color: $color
  +breakpoint(tab)
    display: block
