.positive
  .archive-poup
    color: $white
    z-index: 9999999
    background-color: rgba($black, .9)
    input,
    textarea,
    select
      color: $white
      background-color: transparent !important
    .radio .wpcf7-list-item-label,
    .wpcf7-checkbox .wpcf7-list-item-label,
    .cf7-legals
      color: $white
    .popup__button
      color: $white
      +font-size(18)
      top: 18px
      right: 18px

.archive-poup__wrap
  +padding-top(14)
