.archive-poup__header
  text-align: center
  +padding-bottom(6)
  p
    +font-size(18)
    +breakpoint(desk)
      +font-size(21)

h2.archive-poup__header-title
  font-family: $title
  color: $white
  +font-size(24)
  +margin-bottom(4)
  line-height: 1.3
  +breakpoint(tab)
    +font-size(26)
  +breakpoint(desk)
    +font-size(38)
