$animation_timing: 2s
$animation_timing_hover: .5s

.arrow-animotion
  position: absolute
  bottom: 18px
  left: 50%
  transform: translateX(-50%)
  +padding-left(6)
  +transition
  opacity: 1
  z-index: 9
  &.scrolled
    opacity: 0

.arrow-animotion--white
  @extend .arrow-animotion
  +padding-left(0)
  path
    fill: $white

.arrow-animotion__link
  display: inline-block
  +paddingY(3)
  +paddingX(1)
  &:hover
    .arrow-animotion__dynamic
      -webkit-animation: arrow-animation-hover $animation_timing_hover
      -moz-animation: arrow-animation-hover $animation_timing_hover
      -o-animation: arrow-animation-hover $animation_timing_hover
      animation: arrow-animation-hover $animation_timing_hover

.arrow-animotion__dynamic
  position: relative
  -webkit-animation: arrow-animation $animation_timing infinite
  -moz-animation: arrow-animation $animation_timing infinite
  -o-animation: arrow-animation $animation_timing infinite
  animation: arrow-animation $animation_timing infinite

@keyframes arrow-animation
  0%
    top: -55px
    opacity: 0
  50%
    top: 0px
    opacity: 1
  100%
    top: 55px
    opacity: 0

@keyframes arrow-animation-hover
  0%
    top: -55px
    opacity: 0
  100%
    top: 0px
    opacity: 1
