.awards
  background-color: $black
  +paddingY(20)

  .awards__container
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    +breakpoint(tab)
      flex-wrap: nowrap

  .awards__box
    display: flex
    justify-content: center
    flex-direction: column
    +padding-bottom(5)
    &:nth-child(2),
    &:nth-child(3)
      @extend .mobile-6
    &:last-child
      +padding-left(2)
      +padding-right(0)
    +breakpoint(tab)
      +padding-bottom(0)
      +padding-right(6)
      @extend .tab-3
      &:first-child
        @extend .tab-6
      &:last-child
        +paddingX(0)
    +breakpoint(desk)
      +padding-right(10)
      &:last-child
        +padding-right(0)

  .awards__rewarder
    width: fit-content
    max-width: 120px
    +padding-bottom(3)
    +breakpoint(tab)
      max-width: 200px

  .awards__title,
  .awards__description,
  .awards__prize-cat
    color: $white

  .awards__title
    text-transform: uppercase
    font-weight: 700
    +padding-bottom(2)
    +font-size(18)

  .awards__description
    +font-size(16)

  .awards__prize-cat
    +font-size(16)
