.back-to-top-btn
  position: fixed
  bottom: 20px
  right: 20px
  background-color: $primary-color
  color: $white
  border-radius: 50%
  +padding(2)
  opacity: 0
  visibility: hidden
  +transition()
  &:hover
    background-color: $secondary-color
    color: $white
  &.show
    opacity: 1
    visibility: visible
