.black-bg
  background-color: $black
  color: $white
  .composer__txt-underscore
    background-color: $white !important

.pure-black-bg
  background-color: $pureblack
  color: $white
  .composer__txt-underscore
    background-color: $white !important
