.blog-author
  +margin-top(16)
  +margin-bottom(30)

.author
  .site-content
    +padding-top(0)

.blog-author__wrap
  position: relative
  z-index: 99999

.blog-author__avatar
  +padding-bottom(2)
  img
    border-radius: 300px
    width: 100%
    max-width: 175px

.blog-author__nickname
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  +font-size(16)
  text-align: center
  +breakpoint(tab)
    text-align: left

.blog-author__job
  font-weight: 200
  +padding-bottom(1)
  text-align: center
  +breakpoint(tab)
    text-align: left

.blog-author__social
  +padding-bottom(4)
  text-align: center
  +breakpoint(tab)
    text-align: left

.blog-author__desc
  p
    +font-size(14)

.blog-author__social
  a
    +margin-right(1)
    &:hover
      i
        font-weight: 900
        +setColor($primary-color)
          color: $color
    i
      +font-size(24)
      +transition
