.call-to-action
  +setColor($primary-color)
    background-color: $color
  +setColor($bg-color)
    color: $color
  position: relative
  overflow: hidden
  +margin-top(6)
  +paddingY(6)
  +breakpoint(tab)
    +paddingY(12)
  .row
    .txt-center
      +breakpoint(eq_mobile)
        text-align: left

.call-to-action__contacts
  position: relative

.call-to-action__title
  +setColor($bg-color)
    color: $color
  +font-size(21)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 3px
  +padding-bottom(10)

.call-to-action__contact
  display: inline-block
  text-align: left
  &.call-to-action__contact--phone
    +margin-top(7)
  +breakpoint(tab)
    &.call-to-action__contact--phone
      +margin-top(5)
      +margin-bottom(6)
  +breakpoint(desk)
    +marginY(0)
    &.call-to-action__contact--phone
      +margin-top(0)
  h4
    +setColor($bg-color)
      color: $color
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 3px
    +font-size(14)
    +breakpoint(tab)
      +font-size(16)


.call-to-action__element
  font-weight: 200
  +setColor($bg-color)
    color: $color
  display: inline-block
  +font-size(20)
  +paddingY(0)
  +transition()
  +breakpoint(tab)
    +paddingY(1)
    +font-size(28)
  +breakpoint(desk)
    +font-size(48)

.call-to-action__txt
  display: block
  +setColor($bg-color)
    color: $color
  font-family: $serif
  +font-size(16)
  +transition()
  cursor: pointer
  &:hover
    +setColor($secondary-color)
      color: $color

.page-template-services,
.page-template-manifesto,
.home,
.page-template-clients,
.page-template-about,
.single-services
  .site-footer
    +margin-top(0)

.page-template-clients
  .call-to-action
    +margin-top(0)

.page-template-manifesto
  .call-to-action
    +margin-top(12)
