.services-cards
  +paddingY(10)
  +paddingX(4)
  +breakpoint(desk)
    padding-left: 12px 1rem

.card-service
  background-color: rgba($white, .07)
  position: relative
  +padding(4)
  border: 2px solid $black
  min-height: 280px
  +breakpoint(tab)
    min-height: 280px
  &.art
    background-color: rgba($white, .12)
    top: 20%
    +breakpoint(tab)
      top: 30%
  &.strategy
    +breakpoint(desk)
      top: -30%
  &.digital
    background-color: rgba($white, .20)
    top: 20%
  &.branding
    background-color: rgba($white, .28)
    top: 20%
    +breakpoint(tab)
      top: 0
    +breakpoint(desk)
      top: -30%
  &.video
    background-color: rgba($white, .12)
    top: 0%
    +breakpoint(tab)
      top: 20%
  &.tech
    top: 0%
    +breakpoint(tab)
      top: 55%

  .card-service__title
    color: $white
    text-transform: uppercase
    font-weight: 700
    +font-size(16)

  .card-service__icn
    width: 100%
    max-width: 112px
    position: absolute
    left: 24px
    bottom: 24px
    +breakpoint(tab)
      left: 24px
