// CF7 Hacks
%cf7_feedback
  +margin(0)
  +paddingY(2)
  +paddingX(4)
  font-weight: 900
  text-align: center
  color: $white
  text-shadow: 0 2px 0 rgba($black,0.3)

div.wpcf7-validation-errors
  @extend %cf7_feedback
  border-color: $sun-flower
  background-color: $sun-flower

div.wpcf7-mail-sent-ok
  @extend %cf7_feedback
  border-color: $nephritis
  background-color: $nephritis

div.wpcf7-mail-sent-ng
  @extend %cf7_feedback
  border-color: $pomegranate
  background-color: $pomegranate

span.wpcf7-not-valid-tip
  color: $pomegranate

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea
  &.wpcf7-not-valid
    border-color: $pomegranate !important

.wpcf7-checkbox, .radio
  display: inline
  margin: 10px 0 0

  .wpcf7-list-item
    display: inline-block

    input[type=checkbox], input[type=radio]
      display: none

      &:checked + .wpcf7-list-item-label::before
        content: "•"
        color: $black
        font-size: 28px
        font-style: normal
        font-weight: normal
        line-height: 14px
        text-decoration: inherit
        text-align: center

  .wpcf7-list-item-label
    display: inline-block
    font-size: 14px
    font-weight: normal
    left: 15px
    line-height: 17px
    margin: 0 0 7px
    position: relative
    color: $grey_7

    &::before
      background: $white
      border: 2px solid $black
      border-radius: 1px
      content: ""
      height: 17px
      left: -22px
      position: absolute
      width: 17px

    &:hover
      cursor: pointer

.radio
  .wpcf7-list-item-label
    &::before
      border-radius: 100%

span.wpcf7-list-item
  margin: 0 0 0 7px

.cf7-legals
  position: relative
  left: 19px
