.claim,
.positive .claim
  font-family: $title
  color: $white
  font-weight: 300
  margin: 0 auto
  text-align: center
  line-height: 1.15
  max-width: 164px
  +font-size(46)
  +margin-top(0)
  +margin-bottom(9)
  +breakpoint(tab)
    max-width: 254px
    +font-size(68)
    +margin-top(10)
    +margin-bottom(9)
  +breakpoint(desk)
    max-width: 274px
    +font-size(78)
    +margin-bottom(22)
