// .page-template-clients
//   .page__header
//     +breakpoint(tab)
//     +padding-top(20)

.clients
  +padding-top(4)

.client__single
  +paddingY(6)
  +paddingX(2)
  text-align: center
  +breakpoint(desk)
    +paddingY(14)
    +paddingX(8)
  img
    max-width: 200px

.works-count
  background-color: $grey_1
  color: $white
  +margin-top(6)
  +paddingY(15)
  .primary-title
    vertical-align: middle
  h3.secondary-title
    color: $white


.works-count__number
  position: relative
  bottom: 6px
  font-family: $serif
  +font-size(22)
  +paddingX(1)
  vertical-align: middle
  font-weight: 700

.works-count__number-current
  display: inline-block

.works-count__number-small
  font-family: $serif
  +font-size(14)
  vertical-align: bottom
  +setColor($secondary-color)
    color: $color
  +padding-right(1)
  font-weight: 200
  position: relative
  bottom: 3px
  right: 1px

.works-count__txt
  font-family: $sans-serif
  +font-size(18)
  font-style: normal
  +margin-bottom(0)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  +setColor($primary-color)
    color: $color
  position: relative

// Hack Partners
.page-template-about .clients .client__single
  +paddingX(4)


//Sezione clients della pagina About

.our-clients
  min-height: 100vh
  +paddingY(6)
  +breakpoint(tab)
    +paddingY(30)

.our-clients__title
  font-weight: 700
  +font-size(24)
  text-align: center
  +padding-bottom(4)
  +breakpoint(tab)
    text-align: left
    +padding-bottom(4)

.our-clients__brand
  +font-size(14)
  +padding-right(2)
  +padding-bottom(3)
  +breakpoint(tab)
    +font-size(16)
    +padding-bottom(7)
    +padding-right(4)
