.color-palette
  overflow: hidden
  display: flex
  align-items: center
  min-height: 100vh
  +transition(all, .4s)
  +paddingY(10)
  +breakpoint(tab)
    +paddingY(15)
  +breakpoint(desk)
    +paddingY(20)
  &.high-contrast
    .color-palette__pre-title,
    .color-palette__title,
    .color-palette__description
      color: $white

.color-palette__intro
  +paddingX(2)
  +padding-bottom(10)
  +breakpoint(tab)
    +paddingX(6)
  +breakpoint(desk)
    +paddingX(10)

.color-palette__pre-title
  font-weight: 700
  text-transform: uppercase
  color: $black
  +transition
  +font-size(14)

.color-palette__title
  font-family: $title
  line-height: 1
  color: $black
  +transition
  +padding-bottom(3)
  +font-size(29)
  +breakpoint(tab)
    +font-size(38)
  +breakpoint(desk)
    +font-size(42)

.color-palette__description
  color: $black
  +font-size(18)
  +transition

.color-palette__box
  // border: 4px solid $white
  cursor: crosshair
  +box-shadow(0px, 0px, 26px, 0px, $black, .1)
  +margin_bottom(5)
  +transition
  &:hover
    +box-shadow(0px, 0px, 32px, 0px, $black, .25)
    // border: 4px solid rgba(17, 17, 17, .5)

.color-palette__color
  min-height: 140px
  +breakpoint(desk)
    min-height: 200px

.color-palette__color-name
  text-transform: uppercase
  font-weight: 700
  background-color: $white
  letter-spacing: 1px
  min-height: 60px
  +padding(2)
  +font-size(12)
  +breakpoint(tab)
    min-height: 59px
