.commandments
  +padding-bottom(20)

.laws
  +padding-top(8)

.laws__number
  +font-size(70)
  color: $law-number-color
  font-weight: 900
  text-align: center
  line-height: 1

.negative
  .laws__number
    color: $white

.js--laws-number
  position: fixed
  margin-left: 2%

.laws__single
  +padding-bottom(12)
  +font-size(18)
  font-family: $serif
  +setColor($secondary-color)
    color: $color
  &:last-child
    +padding-bottom(0)
  p
    +font-size(18)
