// BLOCK
.composer__block
  // +padding-bottom(6)
  // &:last-child
  //   +padding-bottom(0)

.composer__txt-prefix
  font-family: $sans-serif
  +font-size(18)
  font-style: normal
  +margin-bottom(0)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 1px
  +setColor($primary-color)
    color: $color
  +padding-left(0.3)
  position: relative

.composer__container
  max-height: 100vh

.composer__txt-title
  font-family: $sans-serif
  +font-size(18)
  // font-style: italic
  font-weight: 700
  line-height: 1
  letter-spacing: 0
  // +padding-bottom(1)
  +setColor($primary-color)
    color: $color
  +breakpoint(tab)
    +font-size(21)
    line-height: 1.2

.single-works
  .composer__txt-prefix
    +font-size(15)
    +breakpoint(tab)
      +font-size(16)
    +breakpoint(desk)
      +font-size(18)
  .composer__txt-title
    font-family: $title
    font-weight: 300
    +font-size(29)
    +padding-bottom(2)
    +breakpoint(tab)
      +font-size(38)
    +breakpoint(desk)
      +font-size(42)

.composer__txt-title--white
  font-family: $title
  +font-size(46)
  // font-style: italic
  font-weight: 700
  line-height: 1.2
  letter-spacing: 0
  +padding-bottom(4)
  +setColor($bg-color)
    color: $color

.composer__txt-underscore
  display: block
  width: 15px
  height: 3px
  +setColor($primary-color)
    background-color: $color
  +margin-bottom(2)

.composer__txt-only-wrap
  +paddingX(2)
  +paddingY(2)
  +breakpoint(tab)
    +paddingX(7)
    +paddingY(0)
  +breakpoint(desk)
    +paddingX(12)
    +paddingY(0)

// MARGIN CLASS -TOP
.composer__margin-top--none
  +margin-top(0)
.composer__margin-top--small
  +margin-top(8)
.composer__margin-top--medium
  +margin-top(16)
.composer__margin-top--large
  +margin-top(32)

// MARGIN CLASS -BOTTOM
.composer__margin-bottom--none
  +margin-bottom(0)
.composer__margin-bottom--small
  +margin-bottom(8)
.composer__margin-bottom--medium
  +margin-bottom(16)
.composer__margin-bottom--large
  +margin-bottom(32)

// CAROUSEL
// .composer__carousel-figure

.composer__carousel-single-img
  display: block
  margin: 0 auto
  +transition
  &.vertical
    max-width: 90%
    +breakpoint(tab)
      max-width: 60%
    +breakpoint(desk)
      max-width: 55%
  &.horizontal
    max-width: 85%
    +breakpoint(desk)
      max-width: 100%

.composer__carousel
  +paddingY(2)
  +breakpoint(tab)
    +paddingY(6)
  .owl-prev,
  .owl-next
    position: absolute
    top: 0
    width: 100%
    height: 100%
    +setColor($bg-color)
      background-color: $color
      opacity: 0.7
    +transition
    +breakpoint(desk)
      max-width: 10%
    &:hover
      opacity: 0.4
  .owl-prev
    display: none
    left: 0
  .owl-next
    display: none
    right: 0
  .owl-item
    .composer__carousel-single-img
      transform: scale(.9)
      opacity: .7
      +transition
    &.center
      .composer__carousel-single-img
        transform: scale(1)
        opacity: 1


.owl-dots
  text-align: center
  +margin-top(4)
  .owl-dot
    display: inline-block
    vertical-align: middle
    +marginX(1)
    padding: 1px
    +breakpoint(eq_mobile)
      +marginX(0.5)
    span
      display: block
      +setColor($primary-color)
        border: 2px solid $color
      width: 24px
      height: 2px
      opacity: 0.4
      position: relative
      +transition
      +breakpoint(eq_mobile)
        width: 18px
        height: 2px
      &:hover
        opacity: 0.6
      // &:after
      //   content: ''
      //   display: block
      //   position: absolute
      //   top: 50%
      //   left: 50%
      //   transform: translate(-50%, -50%)
      //   +setColor($primary-color)
      //     background-color: $color
      //   width: 0px
      //   height: 0px
      //   border-radius: 50%
      //   +transition
    &.active
      span
        opacity: 1
        width: 16px
        height: 16px
        border-radius: 30px
        // &:after
        //   width: 4px
        //   height: 4px

.composer__img
  max-width: none
  width: 100%

// Devices
%composer__devices-wrap
  position: relative
  img
    position: relative
    z-index: 999

.composer__devices-wrap--desk
  img
    width: 100%
  @extend %composer__devices-wrap

.composer__devices-wrap--tab
  @extend %composer__devices-wrap

.composer__devices-wrap--mobile
  @extend %composer__devices-wrap

%composer__devices-screen
  position: absolute
  z-index: 99
  width: 100%
  left: 50%
  transform: translateX(-50%)

.composer__devices-screen--desk
  @extend %composer__devices-screen
  max-width: 92.9%
  top: 4.24%
  left: 49.9%

.composer__devices-screen--tab
  @extend %composer__devices-screen
  max-width: 83.5%
  top: 10%
  left: 50.4%

.composer__devices-screen--mobile
  @extend %composer__devices-screen
  max-width: 80%
  top: 11.1%

.composer__devices-video
  width: 100%

.desk-left
  max-width: 100%
  &.single
    +breakpoint(tab)
      max-width: 80%
    +breakpoint(desk)
      max-width: 65%

.tab-left
  max-width: 90%
  &.single
    +breakpoint(tab)
      max-width: 60%
    +breakpoint(desk)
      max-width: 40%
    +breakpoint(wall)
      max-width: 30%

.mobile-left
  max-width: 80%
  &.single
    +breakpoint(tab)
      max-width: 45%
    +breakpoint(desk)
      max-width: 30%

.desk-right,
.desk-left
  &.double
    max-width: 100%
    +breakpoint(tab)
    +breakpoint(desk)

.tab-right,
.tab-left
  &.double
    max-width: 90%
    +breakpoint(desk)
      max-width: 75%
    +breakpoint(wall)
      max-width: 65%

.mobile-right,
.mobile-left
  &.double
    max-width: 80%
    +breakpoint(tab)
      max-width: 65%
    +breakpoint(desk)
      max-width: 50%
    +breakpoint(wall)
      max-width: 40%

.desk-right,
.desk-left,
.tab-right,
.tab-left,
.mobile-right,
.mobile-left
  &.double
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
