.page-template-contacts
  .site-content
    +padding-top(0)

.contacts
  +padding-top(13)
  .row
    .txt-center
      +breakpoint(eq_mobile)
        text-align: left

.contacts__head
  background-image: url('../img/rad-contatti.jpg')
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  height: 230px
  +marginX(3)
  +breakpoint(tab)
    height: 480px
    +marginX(10)
  +breakpoint(desk)
    height: 540px
    +marginX(13)

.contacts__title
  +font-size(16)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 3px
  +padding-bottom(6)
  +breakpoint(tab)
    +padding-bottom(8)

.contacts__single
  position: relative
  +margin-top(4)
  +margin-bottom(0)
  display: inline-block
  text-align: left
  +breakpoint(tab)
    +margin-top(6)
    +margin-bottom(3)
  h4
    +font-size(16)
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 3px

.contacts__element
  +font-size(24)
  font-weight: 200
  display: inline-block
  +paddingY(0)
  +transition()
  +breakpoint(tab)
    +padding-top(3)
    +padding-bottom(5)
    +font-size(36)

.contacts__txt
  +setColor($primary-color)
    color: $color
  display: block
  cursor: pointer
  font-family: $title
  +font-size(16)
  +transition()
  &:hover
    +setColor($secondary-color)
      color: $color

.page-template-services .site-footer
  +margin-top(1)

div.wpcf7 .ajax-loader
  display: none
  &.is-active
    display: block

.js--textarea,
.js--cursor
  color: transparent !important
  +setColor($primary-color)
    text-shadow: 0 0 0 $color

.contacts-popup
  +setColor($primary-color)
    background-color: rgba($color,0.85)
  .popup__wrap
    +setColor($bg-color)
      background-color: $color
  .popup__button
    +setColor($primary-color)
      color: $color

.contact-form
  +padding-top(3)
  +padding-bottom(0)

.contact-form__scaffolding-box
  +padding-bottom(2)
  address
    font-style: normal

.contact-form__iva
  line-height: 1.5

.contact-form__title
  +font-size(16)
  text-transform: uppercase
  letter-spacing: 0
  font-weight: 700
  +margin-bottom(0)

.contacts-list
  li
    line-height: 1.5

.contacts-list--social
  @extend .contacts-list
  li
    +margin(0)
    +padding(0)
    a
      color: #9B9B9B
      font-family: $sans-serif
      font-weight: 400
      +paddingX(0)
      +font-size(14)

.contact-form
  .contact-form__flat
    h2
      font-family: $sans-serif
      font-weight: 700
      +padding-bottom(2)
      +font-size(24)
      &::after
        display: none
    p
      line-height: 1.2
    .form__field--body,
    .form__field
      display: flex
      align-items: flex-end
      +padding-top(1)
    .form__field--body,
    .form__field--signature
      flex-direction: column
      align-items: flex-start
      span
        width: 100%
        textarea
          min-height: 40px
      label
        +padding-bottom(1)
    .form__field--signature
      +paddingY(6)
      input
        font-style: italic
    .form__field
      +margin(0)
      .form__field--intro
        +font-size(16)
      input,
      textarea,
      select
        // +setColor($bg-color-light)
        //   background-color: $color
        background-color: $white
        border: none
        color: $grey_1
        font-family: $title
        +padding(0)
        +font-size(16)
        &::placeholder
          color: $grey_4
      textarea
        line-height: 1.5
      select
        font-weight: 400
        // +setColor($secondary-color)
        //   color: $color
      input
        border-bottom: 1px solid $grey_1
        max-width: 250px
        min-height: unset
      label
        line-height: 1
        min-width: 110px
        font-family: $title
      .button-upload-flat
        display: block
        +paddingY(1.5)
      .wpcf7-submit.button--expand
        // +setColor($primary-color)
        //   background-color: $color
        //   +transition
        &:hover
          opacity: 0.7

.map
  width: 100%
  height: 460px


//Contact form

.contacts__name,
.contacts__email,
.contacts__phone,
.contacts__company,
.contacts__position,
.contacts__curriculum,
.contacts__message
  border-bottom: 1px solid #D8D8D8
  position: relative
  +margin-bottom(5)
  &::before
    content: ''
    height: 3px
    background-color: $grey_1
    width: 0
    position: absolute
    left: 0
    bottom: 0
    z-index: 5
    transition: all .6s cubic-bezier(.37,.01,.01,.98)
  &:focus-within
    &::before
      width: 100%
  label
    line-height: 1.1
    +font-size(18)
    +padding-top(1.5)
    +padding-bottom(1)
    +breakpoint(tab)
      +font-size(24)
      +padding-top(1)
      +padding-bottom(0)
    +breakpoint(desk)
      +padding-top(0)
      +font-size(32)
  input,
  textarea
    text-align: right
    border: none
    +font-size(24)
    &::placeholder
      +font-size(14)
      +breakpoint(tab)
        +font-size(16)
  select
    text-align: right
    text-align-last: right
    border: none
    background-color: transparent
    background-position: 0 center
    background-image: url('../iconae/svg/filled/arrow-down.svg')
    background-size: 14px
    +margin-bottom(0)
    +breakpoint(tab)
      background-size: 20px
    +breakpoint(desk)
      background-position: 0 center
    option
      font-family: $sans-serif
      color: $grey_6
      +font-size(14)
      +breakpoint(tab)
        +font-size(16)
  .mobile-3
    align-self: flex-start
  .mobile-9
    align-self: flex-end

.contacts__position
  span
    height: 100%
    display: flex
    align-items: flex-end
    +padding-bottom(0)
    +breakpoint(tab)
      +padding-bottom(1)
    +breakpoint(desk)
      +padding-bottom(2)

.contacts__message
  +margin-bottom(4)
  textarea
    min-height: unset
    height: 50px
    +transition
    &:focus,
    &:active
      height: 80px

.contact-form__flat
  form
    .contacts__send
      display: table
      +padding-top(4)
      input
        &.button--expand
          background-color: transparent!important
          color: $grey_1
          font-weight: 700
          letter-spacing: 0px
          display: block
          width: unset
          +padding(0)
          &:hover
            background-color: transparent
            color: $grey_1

.contacts__curriculum
  .contacts__curriculum-load
    display: flex
    justify-content: flex-end
    align-items: flex-end
    height: 100%
    padding: 12px 0
    color: $grey_6
    cursor: pointer
    +font-size(14)
    +breakpoint(tab)
      +font-size(16)
    .wpcf7-file
      display: none
