.contact-form
  +margin-top(0)
  +margin-bottom(20)
  +padding-bottom(10)

div.wpcf7-response-output
  position: fixed
  bottom: -40px
  left: 0
  width: 100%
  z-index: 999
  text-align: center
  +paddingY(1)
  +paddingX(4)

div.wpcf7-response-output
  +margin(0)

div.wpcf7-mail-sent-ok
  border: 2px solid $success-feedback
  background-color: $success-feedback
  color: $white

div.wpcf7-validation-errors
  border: 2px solid $warning-feedback
  background-color: $warning-feedback
  color: $white

.wpcf7-submit.button--expand
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 3px
  +setColor($primary-color)
    background-color: $color

input[type=text].wpcf7-quiz
  +setColor($primary-color)
    border: 1px solid $border-color
  max-width: 40px
  text-align: center
  display: inline-block
  +marginX(1)
