.positive
  .cookie-notice-container
    width: 90%
    max-width: 1024px
    border-radius: 1000px
    +padding-top(3)
    +padding-bottom(2)
    +paddingX(7)
    box-shadow: 0 0 24px rgba($black, 0.2)
    margin: 30px auto
    .rad-btn
      +margin(2)
      +margin-bottom(0)

#cn-notice-text
  display: block
  line-height: 1.2
