.row__wrapper
  display: contents
  // .row__column
  //   +padding-bottom(0)
  //   +breakpoint(tab)
  //     +padding-bottom(10)
  //   +breakpoint(desk)
  //     +padding-bottom(15)

.font
  +paddingY(10)
  +breakpoint(tab)
    +paddingY(15)
  .font__chosen
    max-width: 180px
    +breakpoint(tab)
      max-width: 160px
    +breakpoint(desk)
      max-width: unset
    h3
      font-weight: 700
    h2
      +font-size(20)
  .font__sample
    +paddingY(4)
    +padding-left(0)
    +breakpoint(tab)
      +paddingY(6)
      +padding-left(10)
    +breakpoint(desk)
      +padding-left(6)
