.single-founder
  +padding-bottom(8)
  +breakpoint(tab)
    +padding-bottom(16)

.single-founder__duty
    font-family: $title
    +font-size(38)
    // font-style: italic
    font-weight: 400
    line-height: 1.2
    +padding-bottom(1)
    +breakpoint(tab)
      +font-size(58)
