.full-width-bg
  background-color: $black
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

.full-width-bg__btn
  +font-size(14)
  font-weight: bold
  letter-spacing: 1px
  text-transform: uppercase
  vertical-align: middle
  +transition
  .iconae
    +padding-left(0.5)
    position: relative
    bottom: 2px
  position: absolute
  bottom: -40px
  +setColor($primary-color)
    background-color: $color
  +setColor($bg-color)
    color: $color
  display: inline
  left: 50%
  transform: translateX(-50%)
  +paddingY(2)
  +paddingX(5)
  border-radius: 0 0 10px 10px
  min-width: 320px
  text-align: center
