.full-screen
  position: relative
  width: 100vw
  min-height: 100vh
  .page__header
    +breakpoint(tab)
      +padding-top(0)

.height-screen__2-3
  position: relative
  width: 100vw
  min-height: 65vh
  overflow: hidden
  +breakpoint(tab)
    min-height: 55vh
  &.big
    min-height: 70vh
    +breakpoint(tab)
      min-height: 60vh

.height-screen__1-3
  position: relative
  width: 100vw
  min-height: 35vh
  overflow: hidden
  +breakpoint(tab)
    min-height: 45vh
  &.litte
    min-height: 30vh
    +breakpoint(tab)
      min-height: 40vh

.full-height
  display: block
  position: relative
  width: 100%
  min-height: 100vh

.full-screen--dark
  .formatted-content
    p
      color: $white !important

.full-screen--dark
  @extend .full-screen
  background-color: $black
  color: $white
  p
    color: $white
  .composer__txt-title
    color: $white
  a.rad-btn
    color: $white
    &:hover
      opacity: 1
      color: $white
      &:after
        width: 15px
    &:after
      content: ''
      display: block
      width: 100%
      height: 2px
      background-color: $white
      transition: all .2s ease-in
      -webkit-transition: all .2s ease-in
      +marginY(.5)
  .composer__txt-underscore
    background-color: $white

#arrow-target
  .vertical-align
    +breakpoint(eq_mobile)
      position: relative
      top: auto
      left: auto
      transform: none

.full-screen--dark
  height: auto
  +breakpoint(desk)
    height: 100vh
  .full-height
    height: auto
    +breakpoint(desk)
      height: 100vh
  .vertical-align
    position: relative
    top: auto
    left: auto
    transform: none
    +breakpoint(desk)
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

.full-height
  &.full-txt-services
    height: auto
    min-height: 65vh
    +breakpoint(tab)
      min-height: 75vh
    +breakpoint(desk)
      min-height: 100vh
