.glitch
  color: $white
  position: relative

.glitch-black
  color: $black
  position: relative

@keyframes noise-anim
  $steps: 20

  @for $i from 0 through $steps
    #{percentage($i * 1 / $steps)}
      clip: rect(random(700) + px, 9999px, random(700) + px, 0)

%glitch_lvl
  width: 100%
  content: attr(data-text)
  position: absolute
  top: 0
  clip: rect(0, 900px, 0, 0)

.glitch:after
  @extend %glitch_lvl
  left: 2px
  text-shadow: -1px 0 rgba(red, .5)
  color: $white
  background: $black
  animation: noise-anim 2s infinite linear alternate-reverse

.glitch-black:after
  @extend %glitch_lvl
  left: 2px
  text-shadow: -1px 0 rgba(red, .5)
  color: $black
  background: $white
  animation: noise-anim 2s infinite linear alternate-reverse

@keyframes noise-anim-2
  $steps: 20

  @for $i from 0 through $steps
    #{percentage($i * 1 / $steps)}
      clip: rect(random(700) + px, 9999px, random(700) + px, 0)

.glitch:before
  @extend %glitch_lvl
  left: -2px
  text-shadow: 1px 0 rgba(blue, .5)
  color: $white
  background: $black
  animation: noise-anim-2 3s infinite linear alternate-reverse

.glitch-black:before
  @extend %glitch_lvl
  left: -2px
  text-shadow: 1px 0 rgba(blue, .5)
  color: $black
  background: $white
  animation: noise-anim-2 3s infinite linear alternate-reverse
