body.positive
  background-color: $white

body.negative
  background-color: $black

.js--full-width-img
  max-width: none
  background-color: $black
  padding-top: 60px
  padding-bottom: 80px

.overflow-hidden
  position: relative
  overflow: hidden

.p-relative
  position: relative

.no-relative
  position: static
