// The width of the button area
$button-width: 19px
// The height of the button area
$button-height: 24px
// The thickness of the button bars
$bar-thickness: 2px
// The left/right padding between button area and bars.
$button-pad: 0px
// The spacing between button bars
$button-bar-space: 4px
// The transition duration
$button-transistion-duration: 0.2s

.hamburger
  display: inline-block
  cursor: pointer
  position: relative
  z-index: 9999999
  &:hover,
  &.is-active
    .hamburger__elements
      transform: rotate(90deg)
    .hamburger__label
      width: 120px
  &.is-active
    .hamburger__elements
      span
        background: none
        &::after,
        &::before
          transition-delay: 0s, $button-transistion-duration
        &::before
          top: 0
          transform: rotate(45deg)
        &::after
          bottom: 0
          transform: rotate(-45deg)
  &:hover,
  &:active,
  &:focus
    .hamburger__elements
      background-color: transparent
      outline: none

.hamburger__bg
  width: 45px
  height: 45px
  background-color: $dark_white
  border-radius: 100px
  position: relative
  z-index: 9

.hamburger__elements
  display: inline-block
  position: relative
  overflow: hidden
  margin: 0
  padding: 0
  width: $button-width
  height: $button-height
  font-size: 0
  text-indent: -9999px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  transition: background $button-transistion-duration, transform .15s

.hamburger__label
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: 45px
  background-color: rgba($black,0.22)
  border-radius: 100px
  text-align: left
  overflow: hidden
  +transition(all .1s)

.hamburger__label-menu
  position: relative
  font-weight: bold
  letter-spacing: 0px
  text-transform: uppercase
  top: 15px
  left: 25px
  font-size: 12px
  color: $white



.hamburger__elements
  span
    display: block
    position: absolute
    top: $button-height / 2 - $bar-thickness / 2
    left: $button-pad
    right: $button-pad
    height: $bar-thickness
    background: $black
    border-radius: 20px
    width: $button-width
    +transition(0.15s)
    &::after,
    &::before
      position: absolute
      display: block
      left: 0
      width: $button-width
      height: $bar-thickness
      background-color: $black
      content: ""
      border-radius: 20px
    &::before
      top: -$bar-thickness - $button-bar-space
    &::after
      bottom: -$bar-thickness - $button-bar-space

.hamburger__elements
  background-color: transparent
  position: relative
  top: 10px
  right: 13px
  span
    &::after,
    &::before
      transition-duration: $button-transistion-duration, $button-transistion-duration
      transition-delay: $button-transistion-duration, 0s
    &::before
      transition-property: top, transform
    &::after
      transition-property: bottom, transform
