.about-home
  position: relative
  +breakpoint(tab)
    margin-top: -94px

.about-home__gif
  +setColor($bg-color-light)
    background-color: $color
  text-align: center
  +padding(14)
  &.home-about__spacing
    +margin-top(0)
    +padding-top(14)

.home-about__spacing
  position: relative
  +breakpoint(tab)
    +margin-top(14)

.about-home__wrap
  +breakpoint(eq_mobile)
    display: block
    height: 400px

.about-home__txt
  width: 100%
  +padding-right(2)

.about-home__title
  @extend .prefix-title

.about-home__p
  +setColor($secondary-color)
    color: $color
  +font-size(18)
  font-family: $serif
  line-height: 1.6
  +margin-bottom(4)
