.accordion__single
  +setColor($bg-color)
    background-color: $color

.accordion__single-header
  font-weight: 700
  letter-spacing: 1px
  text-transform: uppercase
  +font-size(14)
  +breakpoint(tab)
    +font-size(17)

.jobs-form
  form
    +padding-top(7)
    +margin-bottom(12)
    +breakpoint(tab)
      +padding-top(10)
      +margin-bottom(15)
    +breakpoint(desk)
      +padding-top(13)
      +margin-bottom(18)

.jobs-title
  +padding-bottom(2)

.jobs-privacy
  +font-size(13)
  line-height: 1.2
  font-family: $sans-serif
  +setColor($primary-color)
    color: $color
  +padding-bottom(8)

.jobs-intro
  font-family: $serif
  +font-size(16)
  +setColor($secondary-color)
    color: $color
  +padding-bottom(3)
  &.page__content
    line-height: 1.6
    +padding-bottom(6)

.jobs-position
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  +breakpoint(tab)
    flex-direction: row
  p,
  span
    text-transform: uppercase
    +font-size(14)
    +padding-right(1.5)
    +breakpoint(tab)
      +font-size(16)


.job-skills
  .jobs-list__title
    color: $white
    +padding-bottom(2)
  .jobs-list__single
    color: $white
    line-height: 1.4
    +font-size(16)
    +padding-bottom(1.5)

// Single Jobs
.single-jobs
  .prefix-title
    font-family: $title
    font-weight: 400
    line-height: 1.2
    +font-size(30)
    +breakpoint(tab)
      +font-size(36)
    +breakpoint(desk)
      +font-size(42)
  .single-job
    .jobs-selection
      select.wpcf7-select
        pointer-events: none
        color: $white
        font-weight: 400
        background-image: none
        option
          color: $white
    .jobs-intro
      p
        // color: $white
    .job-skills
      background-color: $black
      +paddingY(5)
      h4,
      li
        color: $white

.jobs-contact-form
  +padding-top(8)
