.menu-info__language
  +padding-top(3)

.wpml-ls-item
  display: inline-block
  +font-size(21)
  text-transform: uppercase
  +padding-right(2)
  a
    transition-property: -webkit-transform,opacity
    transition-property: transform,opacity
    transition-duration: .6s
    transition-timing-function: cubic-bezier(.19,1,.22,1)
    -webkit-transform: translate3d(-100%,0,0)
    transform: translate3d(-100%,0,0)
    opacity: 0
    display: block

.wpml-ls-current-language
  font-weight: 700

.overlay-menu
  &.opened
    .wpml-ls-item
      a
        -webkit-transform: translate3d(0,0,0)
        transform: translate3d(0,0,0)
        opacity: 1
    &:nth-child(1)
      a
        transition-delay: 1.150s
    &:nth-child(2)
      a
        transition-delay: 1.225s
