.logo
  position: relative
  +transition
  &:hover
    .logo__underscore
      animation: underscore 1s infinite
      opacity: 1
    opacity: 0.7
  &.light-changing
    .logo__title
      color: $white
    .logo__img
      path
        fill: $white

.logo__img
  height: 38px
  width: auto
  display: inline-block
  vertical-align: middle
  path
    fill: $black
    transition: all .5s ease-in-out
    -webkit-transition: all .5s ease-in-out

.logo__title
  display: inline-block
  vertical-align: middle
  font-weight: 700
  letter-spacing: 1px
  +padding-left(1)
  +font-size(16)
  color: $black
  transition: color .5s ease-in-out
  -webkit-transition: color .5s ease-in-out

.logo__underscore
  display: block
  width: 8px
  height: 2px
  +setColor($tertiary-color)
    background-color: $color
  position: absolute
  left: 29px
  bottom: 0

@-webkit-keyframes underscore
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
