$header_h : 50px

.main-navigation
  text-align: right
  ul
    text-align: left
    +transition(all, $sec: 0.6s)
    +breakpoint(eq_mobile)
      overflow: hidden
      max-height: 0
      height: auto
      position: absolute
      left: 0
      top: $header_h
      width: 100%
      background-color: $bg-color
      +paddingX(3)
      z-index: 999
    +breakpoint(tab)
      text-align: right
    // Menu Opened
    &.opened
      max-height: 500px
      +breakpoint(tab)
        display: inline-block
        +paddingX(2)
        &:last-child
          +padding-right(0)
    li
      display: block
      +breakpoint(tab)
        display: inline-block
        +paddingX(2)
      a
        +paddingY(1)
        display: block
        +breakpoint(tab)
          +paddingY(0)
