.menu-info
  opacity: 0
  padding: 1rem
  +transition(all, .7s)
  transition-delay: .6s
  .composer__txt-underscore
    display: none
    +breakpoint(tab)
      display: block

.overlay-menu
  &.opened
    .menu-info
      opacity: 1

.menu-info__hgroup
  +padding-bottom(4)

.menu-info__title
  text-transform: uppercase
  font-weight: bold
  +font-size(24)

.menu-info__subtitle
  font-weight: bold
  +font-size(18)

.menu-info__li
  +padding-bottom(2)
  &:last-child
    +padding-bottom(0)

.menu-info__li-title
  font-weight: bold
  +font-size(16)
  +breakpoint(tab)
    +font-size(18)

.menu-info__li-data
  font-weight: 400
  font-style: normal
  +font-size(16)
  +breakpoint(tab)
    +font-size(18)
