.not-found-page
  +font-size(90)
  font-weight: 700
  letter-spacing: 12px
  +setColor($primary-color)
    color: $color
  &:after
    content: ''
    display: inline-block
    width: 28px
    height: 8px
    margin-left: -36px
    +setColor($primary-color)
      background-color: $color
    animation: underscore 1s infinite
    @-webkit-keyframes underscore
      0%
        opacity: 1
      50%
        opacity: 0
      100%
        opacity: 1
