body
  &.menu-opened
    overflow: hidden

.overlay-menu
  position: relative
  z-index: 9999
  &.opened
    .overlay-menu__dark
      opacity: 1
      visibility: visible
    .overlay-menu__bg
      -webkit-transform: translate(0%,0)
      transform: translate(0%,0)
      +breakpoint(tab)
        -webkit-transform: translate(25%,0)
        transform: translate(25%,0)

  .overlay-menu__bg
    background-color: $white
    position: fixed
    height: 100%
    width: 100%
    top: 0
    right: 0
    -webkit-transform: translate(100%,0)
    transform: translate(100%,0)
    transition: -webkit-transform .75s cubic-bezier(.19,1,.22,1)
    transition: transform .75s cubic-bezier(.19,1,.22,1)

.js--toggle-menu
  z-index: 99999
  position: relative

.overlay-menu__dark
  background-color: rgba($black, .5)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden
  +transition()

.site-wrap
  position: relative
  left: 0
  // overflow: hidden
  transition: left .75s cubic-bezier(.19,1,.22,1)

.menu-opened
  .site-wrap
    left: -24%
