.post-preview
  +padding-bottom(6)

.post-preview__container
  position: relative
  transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  perspective: 1000px
  -webkit-perspective: 1000px
  &:hover
    +breakpoint(desk)
      .post-preview__img
        -ms-transform: rotateY(-180deg)
        -webkit-transform: rotateY(-180deg)
        transform: rotateY(-180deg)
        -webkit-transform-style: preserve-3d
        -ms-transform-style: preserve-3d
        transform-style: preserve-3d
        -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
        transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
        -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
      .post-preview__txt
        -ms-transform: rotateY(0deg)
        -webkit-transform: rotateY(0deg)
        transform: rotateY(0deg)
        -webkit-transform-style: preserve-3d
        -ms-transform-style: preserve-3d
        transform-style: preserve-3d
        -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
        transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
        -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1)

%flip
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  .post-preview__txt-wrap
    -webkit-perspective: inherit
    perspective: inherit
    z-index: 2
    transform: translateY(-50%) translateX(-50%) translateZ(60px) scale(.94)
    -webkit-transform: translateY(-50%) translateX(-50%) translateZ(60px) scale(.94)
    -ms-transform: translateY(-50%) translateX(-50%) translateZ(60px) scale(.94)
    top: 50%
    left: 50%
    width: 100%
    +paddingX(6)
    +breakpoint(desk)
      width: 100%
      +paddingX(4)

.post-preview__txt
  @extend %flip
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  +setColor($primary-color)
    background-color: $color
  +setColor($bg-color)
    color: $color
  -ms-transform: rotateY(180deg)
  -webkit-transform: rotateY(180deg)
  transform: rotateY(180deg)
  -webkit-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  transform-style: preserve-3d

.post-preview__title
  +font-size(16)
  letter-spacing: 3px
  text-transform: uppercase
  +setColor($bg-color)
    color: $color
  font-weight: 700

.post-preview__img
  @extend %flip
  -ms-transform: rotateY(0deg)
  -webkit-transform: rotateY(0deg)
  transform: rotateY(0deg)
  -webkit-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  transform-style: preserve-3d
  img
    width: 100%
    max-width: none
    height: auto
