.overlay-menu
  &.opened
    .primary-menu__item
      a
        -webkit-transform: translate3d(0,0,0)
        transform: translate3d(0,0,0)
        opacity: 1
  .primary-menu__item
    +padding-bottom(0.25)
    &:nth-child(1)
      a
        transition-delay: 0.4s
    &:nth-child(2)
      a
        transition-delay: 0.475s
    &:nth-child(3)
      a
        transition-delay: 0.550s
    &:nth-child(4)
      a
        transition-delay: 0.625s
    &:nth-child(5)
      a
        transition-delay: 0.700s
    &:nth-child(6)
      a
        transition-delay: 0.775s
    &:nth-child(7)
      a
        transition-delay: 0.850s
    &:nth-child(8)
      a
        transition-delay: 0.925s
    &:nth-child(9)
      a
        transition-delay: 1s
    &:nth-child(10)
      a
        transition-delay: 1.075s
    a
      position: relative
      display: inline-block
      +font-size(24)
      color: $black
      font-weight: 600
      transition-property: -webkit-transform,opacity
      transition-property: transform,opacity
      transition-duration: .6s
      transition-timing-function: cubic-bezier(.19,1,.22,1)
      -webkit-transform: translate3d(-20%,0,0)
      transform: translate3d(-20%,0,0)
      opacity: 0
      +breakpoint(tab)
        +font-size(28)
      +breakpoint(desk)
        +font-size(30)
      &:after
        content: ''
        display: block
        width: 0px
        height: 3px
        +setColor($primary-color)
          background-color: $color
        position: absolute
        left: 1px
        bottom: 3px
        opacity: 0
        +transition()
      &:hover
        +setColor($primary-color)
          color: $color
        &:after
          opacity: 1
          width: 16px
    &:last-child
      +padding-bottom(0)
    &.primary-menu__item--active
      a
        +setColor($primary-color)
          color: $color
        &:after
          opacity: 1
          width: 16px
