/* Dinamicizzare

.cd-product-viewer-wrapper
  position: relative !important
  height: 70vh
  margin: 0 auto
  width: 100%
  max-width: 500px

  .product-viewer
    z-index: 1
    display: block
    overflow: hidden
    width: 100%
    max-width: 500px

    .product-viewer__img
      display: block
      position: relative
      z-index: 1

    .product-viewer__film
      position: absolute
      z-index: 2
      top: 0
      left: 0
      height: 100%
      background: no-repeat center center
      background-size: 100%
      opacity: 0
      -webkit-transition: opacity 0.3s
      -moz-transition: opacity 0.3s
      transition: opacity 0.3s

  &.loaded
    .product-viewer__film
      opacity: 1
      cursor: ew-resize
