.positive
  .rad-btn
    display: inline-block
    +font-size(13)
    font-weight: bold
    +setColor($primary-color)
      color: $color
    letter-spacing: 1px
    text-transform: uppercase
    vertical-align: middle
    +marginY(2)
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    position: relative
    &:after
      content: ''
      display: block
      width: 100%
      height: 2px
      background-color: $black
      transition: all .2s ease-in
      -webkit-transition: all .2s ease-in
      transition-delay: .3s
      +marginY(.5)
    &:before
      content: ''
      display: block
      position: absolute
      bottom: 3px
      left: 50%
      width: 15px
      height: 2px
      opacity: 0
      visibility: hidden
      background-color: $black
      transition: all .2s ease-in
      -webkit-transition: all .2s ease-in
      transition-delay: .0s
    &:hover
      opacity: 1
      color: $black
      &:after
        width: 0px
        transition-delay: .0s
      &:before
        left: 0
        opacity: 1
        visibility: visible
        transition-delay: .3s

.positive
  .rad-btn--white
    @extend .rad-btn
    color: $white
    &:hover
      opacity: 1
      color: $white
      &:after
        width: 15px
    &:after
      content: ''
      display: block
      width: 100%
      height: 2px
      background-color: $white
      transition: all .2s ease-in
      -webkit-transition: all .2s ease-in
      +marginY(.5)
