.rad-archive
  position: relative
  height: 357px
  overflow: hidden
  width: 100%
  .grid-container--large
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

.rad-archive__background
  background-image: url('../img/banner-rad-works_retina.jpg')
  background-repeat: repeat-x
  background-size: 50%
  background-position: center
  position: absolute
  top: 0
  left: 0
  width: 2880px
  height: 100%
  opacity: .5
  animation: slide 30s linear infinite
  z-index: 5
  +transition

.rad-archive__link
  display: block
  min-width: 150px
  font-weight: 700
  text-transform: uppercase
  +font-size(16)
  cursor: pointer
  +paddingY(3)
  +breakpoint(tab)
    position: absolute
    bottom: 80px
    right: 130px
    +paddingY(0)
  &:after
    content: ''
    display: block
    width: 100%
    height: 2px
    background-color: $black
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    transition-delay: .3s
    +marginY(.5)
  &:before
    content: ''
    display: block
    position: absolute
    bottom: 3px
    left: 50%
    width: 15px
    height: 2px
    opacity: 0
    visibility: hidden
    background-color: $black
    transition: all .2s ease-in
    -webkit-transition: all .2s ease-in
    transition-delay: .0s
  &:hover
    opacity: 1
    color: $black!important
    &:after
      width: 0px
      transition-delay: .0s
    &:before
      left: 0
      opacity: 1
      visibility: visible
      transition-delay: .3s

.rad-archive__content
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10

.rad-archive__title
  font-weight: 700
  +font-size(24)

.rad-archive__cta
  font-family: $title
  max-width: 450px
  line-height: 1
  +font-size(32)
  +breakpoint(tab)
    +font-size(42)
  +breakpoint(tab)
    +font-size(52)

@keyframes slide
  0%
    -webkit-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

  100%
    -webkit-transform: translate3d(-1440px, 0, 0)
    -ms-transform: translate3d(-1440px, 0, 0)
    transform: translate3d(-1440px, 0, 0)
