.rad-link
  +font-size(14)
  font-family: $sans-serif
  font-weight: bold
  +setColor($primary-color)
    color: $color
  letter-spacing: 1px
  text-transform: uppercase
  vertical-align: middle
  +transition
  .iconae
    +padding-left(0.5)

.rad-link--white
  @extend .rad-link
  +setColor($bg-color)
    color: $color
