.services-list
  +padding-top(14)
  .grid-container--large
    max-width: 1320px

.single-service
  +setColor($bg-color)
    background-color: $color
  +padding(4)
  +margin-bottom(4)
  +transition()
  &:hover
    +box-shadow(0px, 0px, 20px, 0px, $black, 0.1)

.single-service__title
  +font-size(18)
  +padding-bottom(1)
  letter-spacing: 2px
  font-weight: 700
  text-transform: uppercase

.single-service__content
  +font-size(17)
  +padding-bottom(2)
  +setColor($secondary-color)
    color: $color
  font-family: $serif
  .read-more
    +setColor($primary-color)
      color: $color
  p
    +font-size(17)

.negative
  .single-service
    &:hover
      +box-shadow(0px, 0px, 3px, 0px, $white, 0.5)

.single-services
  .formatted-content
    .page__title
      +margin-bottom(3)
    h2
      +margin-bottom(3)
      +padding-top(4)

// Highlight services
.highlight-services
  +paddingY(6)
  +paddingX(4)
  +setColor($primary-color)
    background-color: $color

.single-service--highlight
  +padding(4)
  +margin-bottom(4)
  +transition()
  .single-service__title
    +setColor($bg-color)
      color: $color
    font-family: $title
    // font-style: italic
    font-weight: 400
    text-transform: none
    letter-spacing: 0
    line-height: 1.2
    +font-size(24)
    +breakpoint(desk)
      +font-size(32)
  .single-service__content
    +breakpoint(tab)
      min-height: 124px
    p
      +font-size(18)
  .rad-btn--white
    +margin-top(3)
