.page-template-services
  .page__header
    +padding-top(12)
    +breakpoint(tab)
      +padding-top(18)
  .page__intro
    +padding-bottom(8)
    +breakpoint(tab)
      +padding-bottom(18)

.service-folder-wrap
  +padding-top(20)
  +padding-bottom(10)

.service-folder
  border: 1px solid $grey_3
  +padding(3)
  margin: 0 auto
  +margin-bottom(6)
  +breakpoint(tab)
    +margin-bottom(8)
    min-height: 600px
    +padding(6)
    +padding-bottom(6)
  +breakpoint(desk)
    +margin-bottom(12)
    +padding(12)
    min-height: 640px
    width: 100%
    max-width: 92%

.service-folder__icn
  max-width: 40px
  display: block
  +margin-bottom(4)

h2.service-folder__title
  color: $white
  font-family: $sans-serif
  text-transform: uppercase
  +font-size(16)
  font-weight: 700
  +margin-bottom(1)

h3.service-folder__desc
  font-family: $title
  color: $grey_7
  +font-size(24)
  +margin-bottom(4)
  line-height: 1.3
  +breakpoint(tab)
    +font-size(26)
  +breakpoint(desk)
    +font-size(32)

.service-folder__li
  color: $white
  font-family: $sans-serif
  +font-size(15)
  +padding-bottom(1.25)
  &:last-child
    +padding-bottom(0)
