.services-band__list
  overflow: hidden
  +paddingY(10)
  .slick-track
    display: flex
    justify-content: center
    align-items: center
  .services-band__list-item
    display: inline-block
    vertical-align: middle
    text-align: center
    font-weight: 700
    line-height: 1.2
    +margin-left(20)
    +font-size(48)
    +breakpoint(tab)
      +font-size(58)
    +breakpoint(desk)
      +font-size(66)
    &:active,
    &:focus
      outline: none
