.related-services
  +paddingY(16)
  position: relative
  overflow: hidden
  .prefix-title
    +margin-bottom(4)

.services-li
  -webkit-column-count: 2
  -moz-column-count: 2
  column-count: 2
  -webkit-column-gap: 12px
  -moz-column-gap: 12px
  column-gap: 12px
  +breakpoint(tab)
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
    -webkit-column-gap: 40px
    -moz-column-gap: 40px
    column-gap: 40px

.services-li__single
  +padding-bottom(1)
  &:before
    content: '_'
    +setColor($primary-color)
      color: $color
  a
    +font-size(17)
    +setColor($secondary-color)
      color: $color
    +transition
    &:hover
      +setColor($primary-color)
        color: $color

.services-li__single--current
  @extend .services-li__single
  a
    font-weight: 700
    +setColor($primary-color)
      color: $color
