.single-thumb-work__single
  position: relative
  overflow: hidden
  .single-thumb-work__single-img
    backface-visibility: hidden
    webkit-backface-visibility: hidden
    filter: saturate(0)
    -webkit-filter: saturate(0)
    -moz-filter: saturate(0)
    -o-filter: saturate(0)
    -ms-filter: saturate(0)
  &:hover
    .single-thumb-work__overlay
      opacity: 1
    .single-thumb-work__single-img
      transform: scale(1.07)
      filter: saturate(1)
      -webkit-filter: saturate(1)
      -moz-filter: saturate(1)
      -o-filter: saturate(1)
      -ms-filter: saturate(1)
    h2.single-thumb-work__overlay-title,
    .single-thumb-work__single-service
      opacity: 1
      transform: translate(0,0)
    .single-thumb-work__single-service
      transition: transform .4s .2s,opacity .4s .2s

.single-thumb-work__single-link
  display: block

// .single-thumb-work__overlay
//   position: absolute
//   top: 0
//   left: 0
//   width: 100%
//   height: 100%
//   background-color: rgba($black, 0.8)
//   opacity: 0
//   +transition

.single-thumb-work__single-img
  width: 100%
  max-width: none
  display: block
  +transition(all, .5s)
  filter: saturate(0)
  -webkit-filter: saturate(0)
  -moz-filter: saturate(0)
  -o-filter: saturate(0)
  -ms-filter: saturate(0)
  transform: scale(1.02)

.single-thumb-work__overlay-txt
  position: absolute
  left: 0
  bottom: 0
  +padding(4)

h2.single-thumb-work__overlay-title
  font-family: $sans-serif
  +font-size(18)
  font-style: normal
  +margin-bottom(0)
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  color: $white
  +padding-left(2)
  position: relative
  transform: translate(0,15px)
  transition: transform .4s,opacity .4s
  &:before
    content: ''
    display: block
    width: 8px
    height: 2px
    background-color: $white
    position: absolute
    bottom: 6px
    left: 0
  &:after
    content: none

// Work Services
.single-thumb-work__single-service
  display: inline-block
  +padding-right(1)
  opacity: 0
  transform: translate(0,15px)
  transition: transform .4s,opacity .4s
  &:last-child
    +padding-right(0)

span,
a
  &.single-thumb-work__single-service-link
    color: $white
    font-style: italic
    font-family: $serif
    +transition
    // &:hover
    //   color: $white
    //   opacity: 0.7
