.overflow-x
  overflow: hidden

.manifesto-wrap
  .owl-dots
    +margin-top(8)
    .owl-dot span
      border: 2px solid $white
  .owl-stage-outer
    overflow: visible
  .owl-stage
    transition: all 2s cubic-bezier(0, 0.59, 1, 1) 0.1s !important
    //cubic-bezier(0.5, 0, 1, 1)

.single-law__h
  height: 62vh
  position: relative

.single-law__number
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center
  width: 100%
  opacity: .5
  font-weight: 700
  font-size: 45vw

.single-law__content
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
  p
    +font-size(16)
    +breakpoint(tab)
      +font-size(20)
    +breakpoint(desk)
      +font-size(24)

.owl-item
  .single-law__number
    opacity: 0
    transition: all 2s ease-in-out 0.6s
    -webkit-transform: translate3d(-20%, -50%, 0)
    transform: translate3d(-20%, -50%, 0)
  .single-law__content
    opacity: 0
    transition: all 2s cubic-bezier(0.25, 0.25, 1, 1) 0.3s
    -webkit-transform: translate3d(20%, -50%, 0)
    transform: translate3d(20%, -50%, 0)
  &.active
    .single-law__number
      opacity: .4
      -webkit-transform: translate3d(0, -50%, 0)
      transform: translate3d(0, -50%, 0)
    .single-law__content
      opacity: 1
      -webkit-transform: translate3d(0, -50%, 0)
      transform: translate3d(0, -50%, 0)
