.single-works__head-alignment
  +paddingY(16)

.single-post
  .single-works__info
    .prefix-title
      +padding-left(0)


// SINGLE WORK INFO
.single-works__info
  +paddingY(5)
  +setColor($bg-color)
    background-color: $color
  position: relative
  .prefix-title
    +margin-bottom(1)
  .row__column
    &:last-child
      .single-works__info-single-wrap
        +padding-bottom(0)

.single-works__info-single-wrap
  +breakpoint(eq_mobile)
    +padding-bottom(6)
  p
    +font-size(18)

.single-works__info-single-wrap--url
  @extend .single-works__info-single-wrap
  text-align: center
  +breakpoint(tab)
    text-align: right

.single-works__info-client-txt
  font-family: $serif
  font-style: normal
  +font-size(18)
  +setColor($secondary-color)
    color: $color

.single-works__services-list
  display: inline-block
  +padding-right(1)
  &:last-child
    +padding-right(0)

span,
a
  &.single-works__services-link
    +setColor($secondary-color)
      color: $color
    font-style: italic
    font-family: $serif
    +font-size(16)
    +transition
    // &:hover
    //   +setColor($primary-color)
    //     color: $color

.single-works__pagination
  +padding-top(5)
  +padding-bottom(5)
  +breakpoint(tab)
    +padding-top(7)
  +breakpoint(desk)
    +padding-top(8)

%single-works__pagination-link
  +marginX(0)
  +breakpoint(tab)
    +marginX(3)
  .iconae
    position: relative
  a
    color: $black
    +setColor($primary-color)
      border-bottom: 2px solid $color
    display: block
    position: relative
    +padding-top(3)
    +padding-bottom(2)
    +font-size(21)
    +transition
    +breakpoint(tab)
      +padding-top(9)
      +padding-bottom(3)
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 0
      +setColor($primary-color)
        background-color: $color
      +transition
    &:hover
      color: $black
      +breakpoint(tab)
        color: $white
      &:after
        height: 100%
        z-index: -1

%ae--arrow-trait
  position: absolute
  top: 1px
  width: 20px

.single-works__pagination-link--prev
  @extend %single-works__pagination-link
  a
    +padding-left(2.5)
    +font-size(12)
    +transition
    +breakpoint(tab)
      +padding-left(4)
      +font-size(21)
  .iconae
    position: absolute
    bottom: 15px
    left: 0px
    z-index: 0
    transition-delay: 0.1s
    color: $black
    left: 0px
    +font-size(14)
    +transition
    +breakpoint(tab)
      left: 20px
      bottom: 25px
      +font-size(16)
    .ae--arrow-trait
      +transition
      color: $black
      opacity: 0
      visibility: hidden
      top: 0px
      @extend %ae--arrow-trait
      +breakpoint(tab)
        top: -1px
  &:hover
    a
      color: $black
      z-index: 0
      +padding-left(5)
      &::after
        height: 0
      +breakpoint(tab)
        color: $white
        +padding-left(8)
        &::after
          height: 100%
      +breakpoint(desk)
        +padding-left(9)
    .iconae
      left: 0px
      color: $black
      z-index: 5
      +breakpoint(tab)
        color: $white
        left: 30px
    .ae--arrow-trait
      left: 5px
      opacity: 1
      visibility: visible
      border: 1px solid $black
      +breakpoint(tab)
        top: 1px
        border: 1px solid $white


.single-works__pagination-link--next
  @extend %single-works__pagination-link
  a
    +padding-right(2.5)
    +font-size(12)
    +transition
    +breakpoint(tab)
      +padding-right(4)
      +font-size(21)
  .iconae
    position: absolute
    bottom: 15px
    right: 0px
    z-index: 5
    transition-delay: 0.1s
    +font-size(14)
    +transition
    +setColor($primary-color)
      color: $color
    +breakpoint(tab)
      bottom: 25px
      right: 20px
      +font-size(16)
    .ae--arrow-trait
      +transition
      +setColor($primary-color)
        color: $color
      right: -20px
      top: -1px
      opacity: 0
      visibility: hidden
      +breakpoint(tab)
        top: 0px
      @extend %ae--arrow-trait
  &:hover
    a
      color: $black
      z-index: 0
      +padding-right(5)
      &::after
        height: 0
      +breakpoint(tab)
        color: $white
        +padding-right(8)
        &::after
          height: 100%
      +breakpoint(desk)
        +padding-right(9)
    .iconae
      right: 0px
      color: $black
      +breakpoint(tab)
        color: $white
        right: 30px
    .ae--arrow-trait
      right: 5px
      opacity: 1
      visibility: visible
      border: 1px solid $black
      top: 1px
      +breakpoint(tab)
        border: 1px solid $white

.single-works__primary-thumb
  max-width: none
  width: 100%
  // +margin-bottom(10)


//FOR HIRE

.line-up
  .prefix-title
    display: inline-block
    letter-spacing: 0px
    +font-size(16)
  .single-works__info-client-txt
    display: inline-block
    +font-size(16)
    +padding-left(1)
