.single-post
  .prefix-title
    &::before
      content: none
  .site-content
    +padding-top(0)
  .formatted-content
    h2
      @extend .secondary-title
      line-height: 1.2
      +padding-top(4)
      +padding-bottom(1)
    .tertiary-title
      +font-size(16)
      margin: 0
      padding: 0
      +padding-top(2)
      +padding-bottom(6)
      font-weight: 200
      text-transform: uppercase
    img
      filter: saturate(0%)
      -webkit-filter: saturate(0%)
      -moz-filter: saturate(0%)
      -o-filter: saturate(0%)
      -ms-filter: saturate(0%)
      +transition()
      &:hover
        filter: saturate(100%)
        -webkit-filter: saturate(100%)
        -moz-filter: saturate(100%)
        -o-filter: saturate(100%)
        -ms-filter: saturate(100%)
    iframe
      max-width: 100%

.single-post__content
  +padding-top(14)
  +padding-bottom(10)
  +breakpoint(tab)
    +padding-bottom(25)
  +breakpoint(desk)
    +padding-bottom(20)

.single-post__footer
  +paddingY(3)

.tags-links
  +margin-top(3)
  +font-size(12)
  text-transform: uppercase
  a
    +setColor($bg-color-light)
      background-color: $color
    +paddingY(0.5)
    +paddingX(1)
    +margin-left(1)
    +radius
    +font-size(12)
    text-transform: uppercase
    letter-spacing: 1px

.single-post__thumb
  +padding-top(8)
  +padding-bottom(14)
  img
    max-width: 340px
    display: block
    margin: 0 auto
    +box-shadow(0, 0, 20px, 0, $black, 0.2)
