.site-footer
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -9
  background-color: $black
  +transition(all .6s)
  transition-delay: .6s

.site-footer__container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.site-footer__info
  +font-size(15)
  color: $white
  +paddingY(2)
  a
    color: $white

.footer-humor-change
  cursor: pointer
  font-weight: 200
  display: inline-block
  +padding-left(1)
  &:hover
    +setColor($secondary-color)
      color: $color

.footer-menu
  text-align: center
  +breakpoint(tab)
    text-align: left
  li
    display: inline-block
    +padding-right(3)
    a
      text-transform: uppercase
      +font-size(12)
  &.primary-menu__item--active
    a
      font-weight: 700
.footer-menu li.primary-menu__item--active a
  font-weight: 700

.site-footer__legals-link
  text-decoration: underline
