.slide-container
  @extend .cl
  width: 400%
  height: 55vh
  +paddingY(4)

.slide-container__panel
  height: 100%
  width: 25%
  float: left
  +margin-top(10)
  +paddingX(3)
  +breakpoint(tab)
    +margin-top(0)
    +paddingX(7)
  +breakpoint(desk)
    +paddingX(40)

.slide-container__panel-link
  display: block
  width: 100%
  height: 70%
  margin: 0 auto
  overflow: hidden
  position: relative
  display: flex
  align-items: center
  justify-content: center
  +breakpoint(tab)
    height: 90%
  +breakpoint(desk)
    height: 100%
  &:hover
    .slide-container__panel-overlay
      background-color: rgba($black, .6)
    .slide-container__panel-img
      // transform: translate(-50%, -50%) scale(1.2)
      -webkit-transform: translateZ(0) scale(1.2, 1.2)
    .slide-container__panel-overlay-title
      opacity: 1
      transform: translate(0px,-30px)
      bottom: 36px
      +transition(all, .2s)
      +breakpoint(tab)
        transform: translate(0px,-15px)
      +breakpoint(desk)
        transform: translate(0px,-20px)
      +breakpoint(wall)
        transform: translate(0,0)
    .single-thumb-work__single-service
      // transition: transform .4s .2s,opacity .4s .2s
    .slide-container__panel-services-list
      bottom: 18px
      color: $white
      opacity: 1
      visibility: visible
      transition-delay: .1s

.slide-container__panel-img
  // @extend .vertical-align
  // transform: translate(-50%, -50%) scale(1)
  -webkit-backface-visibility: hidden
  -webkit-transform: translateZ(0) scale(1.0, 1.0)
  max-width: unset
  width: 150%
  +transition
  +breakpoint(tab)
    width: 130%
  +breakpoint(desk)
    width: 120%

.slide-container__panel-overlay
  position: absolute
  width: 100%
  height: 100%
  display: block
  top: 0
  left: 0
  background-color: rgba($black, .4)
  -webkit-backface-visibility: hidden
  +transition

.slide-container__panel-overlay-title
  position: absolute
  bottom: 12px
  left: 42px
  color: $white !important
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 2px
  text-align: center
  +font-size(18)
  +transition(all, .4s)
  &::before
    content: ''
    position: absolute
    bottom: 6px
    left: -15px
    width: 10px
    height: 2px
    background-color: $white
  +breakpoint(tab)
    bottom: 24px

.slide-container__panel-services-list
  display: flex
  flex-direction: row
  position: absolute
  bottom: 0
  left: 24px
  opacity: 0
  visibility: hidden
  +transition(all, .3s)
  +breakpoint(tab)
    left: 36px

.slide-container__panel-services-list-item
  color: $white
  font-style: italic
  font-weight: 700
  line-height: 1.2
  +font-size(12)
  +padding-right(2)
  +transition
  +breakpoint(tab)
    +font-size(14)
