.slide-manifesto-container
  @extend .cl
  width: 1000%
  height: 80vh
  +paddingY(0)

.slide-manifesto-container__panel
  height: 100%
  width: 10%
  float: left

// .slide-container__panel-link
//   display: block
//   width: 100%
//   height: 100%
//   margin: 0 auto
//   overflow: hidden
//   position: relative
//   &:hover
//     .slide-container__panel-overlay
//       background-color: rgba($black, .6)
//     .slide-container__panel-img
//       // transform: translate(-50%, -50%) scale(1.2)
//       -webkit-transform: translateZ(0) scale(1.2, 1.2)
//     .slide-container__panel-overlay-title
//       opacity: 1
//       transform: translate(0,0)
//     .single-thumb-work__single-service
//       // transition: transform .4s .2s,opacity .4s .2s
//     .slide-container__panel-overlay-title
//       bottom: 36px
//       +transition(all, .2s)
//     .slide-container__panel-services-list
//       bottom: 18px
//       color: $white
//       opacity: 1
//       visibility: visible
//       transition-delay: .1s

// .slide-container__panel-img
//   // @extend .vertical-align
//   // transform: translate(-50%, -50%) scale(1)
//   -webkit-backface-visibility: hidden
//   -webkit-transform: translateZ(0) scale(1.0, 1.0)
//   +transition(all, 1.2s)

// .slide-container__panel-overlay
//   position: absolute
//   width: 100%
//   height: 100%
//   display: block
//   top: 0
//   left: 0
//   background-color: rgba($black, .4)
//   -webkit-backface-visibility: hidden
//   +transition
//
// .slide-container__panel-overlay-title
//   position: absolute
//   bottom: 24px
//   left: 42px
//   color: $white !important
//   font-weight: 700
//   text-transform: uppercase
//   letter-spacing: 2px
//   text-align: center
//   +font-size(18)
//   +transition(all, .4s)
//   &::before
//     content: ''
//     position: absolute
//     bottom: 6px
//     left: -15px
//     width: 10px
//     height: 2px
//     background-color: $white
//
// .slide-container__panel-services-list
//   display: flex
//   flex-direction: row
//   position: absolute
//   bottom: 0
//   left: 36px
//   opacity: 0
//   visibility: hidden
//   +transition(all, .3s)
//
// .slide-container__panel-services-list-item
//   color: $white
//   font-style: italic
//   font-weight: 700
//   +font-size(14)
//   +padding-right(2)
//   +transition
