.social
  +padding-top(1)
  +breakpoint(tab)
    +padding-top(0)
  ul
    +breakpoint(eq_mobile)
      display: flex
      flex-wrap: wrap
      justify-content: center
  .social__list
    width: 50%
    +margin-left(0)
    +padding-top(.5)
    +breakpoint(tab)
      width: unset
      +padding-top(0)

.social__link,
a.social__link
  color: $white
  +font-size(14)
  font-weight: 700
  +paddingX(2)
  +transition
  +breakpoint(tab)
    +font-size(18)
