.spritespin
  width: 60vw !important
  height: 50vh !important
  margin: 0 auto

.spritespin-stage,
.spritespin-canvas
  margin: 0 auto
  width: 300px !important
  height: 300px !important
  top: 50% !important
  transform: translateY(-50%) !important
  bottom: unset !important
