.prefix-title,
.formatted-content h2.prefix-title
  font-family: $sans-serif
  +font-size(18)
  font-style: normal
  +margin-bottom(0)
  text-transform: uppercase
  font-weight: 700
  +setColor($primary-color)
    color: $color
  +padding-left(2)
  position: relative
  &:before
    content: ''
    display: block
    width: 8px
    height: 2px
    +setColor($primary-color)
      background-color: $color
    position: absolute
    bottom: 6px
    left: 0
  &:after
    content: none

.prefix-title__opacity
  opacity: .5
  text-transform: none

.huge-title
  font-weight: 300
  font-family: $title
  +font-size(36)
  line-height: 1
  +breakpoint(tab)
    +font-size(68)
  +breakpoint(desk)
    +font-size(82)

.primary-title
  font-family: $title
  +font-size(38)
  // font-style: italic
  font-weight: 400
  line-height: 1.2
  +breakpoint(tab)
    +font-size(72)

.secondary-title
  +font-size(19)
  line-height: 1.2
  +setColor($primary-color)
    color: $color
  +margin-top(0)
  +margin-bottom(1)
  line-height: 1
  +breakpoint(tab)
    +font-size(27)
    line-height: 1.3

.single-works
  .secondary-title
    +font-size(21)
    +breakpoint(tab)
      +font-size(37)
      +padding-top(0.5)

%standard-title
  font-family: $title
  +font-size(46)
  // font-style: italic
  font-weight: 400
  line-height: 1.2
  letter-spacing: 0
  +margin-top(12)
  +setColor($primary-color)
    color: $color
  &:first-child,
  &.no-margin-top
    margin-top: 0 !important
  &.no-underscore
    &:after
      content: none

.standard-title
  @extend %standard-title

.formatted-content
  ul,
  ol,
  dd,
  p
    font-family: $serif
    +setColor($primary-color)
      color: $color
    +font-size(15)
    line-height: 1.5
    +breakpoint(tab)
      +font-size(18)
      line-height: 1.5

  &.last-p
    p:last-child
      margin-bottom: 0
  h1,
  h2,
  h3
    @extend %standard-title
    &:after
      content: ''
      display: block
      width: 18px
      height: 3px
      +setColor($primary-color)
        background-color: $color
      +marginY(4)

  p
    +margin-bottom(2)

  p
    &.indent
      text-indent: 20px

.single-post
  .formatted-content
    h2,
    h3
      @extend %standard-title
      +font-size(38)
      &:after
        content: none
