.home-video
  display: block
  line-height: 0
  max-width: 100%
  margin: 0 auto

.video-ui
  position: relative

.video-ui__playpause
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($black, 0.2)
  cursor: pointer
  +transition
  img
    display: inline-block
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  .ae--pause-circle
    opacity: 0
    +transition
  &:hover
    background-color: rgba($black, 0.4)

.video__overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: rgba($black, 0.6)
  z-index: 99
  .composer__txt-title--white
    +text-shadow

.video-ui__video
  width: 100%
  background-size: 100% 100%

.video-ui__video::-internal-media-controls-download-button
  display: none

.video-ui__video::-webkit-media-controls-enclosure
  overflow: hidden

.video-ui__video::-webkit-media-controls-panel
  width: calc(100% + 30px)

.video::-webkit-media-controls
  display: none
