// Custom font import
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i')

@font-face
  font-family: 'Berlingske Serif'
  src:	url('../fonts/berlingske/light/berlingske-light.eot')
  src:	url('../fonts/berlingske/light/berlingske-light.eot?#iefix') format('embedded-opentype'),url('../fonts/berlingske/light/berlingske-light.woff2') format('woff2'), url('../fonts/berlingske/light/berlingske-light.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Berlingske Serif'
  src:	url('../fonts/berlingske/demi-bold/berlingske-demibold.eot')
  src:	url('../fonts/berlingske/demi-bold/berlingske-demibold.eot?#iefix') format('embedded-opentype'),url('../fonts/berlingske/demi-bold/berlingske-demibold.woff2') format('woff2'), url('../fonts/berlingske/demi-bold/berlingske-demibold.woff') format('woff')
  font-weight: 600
  font-style: normal

// Post Grotesk Book
@font-face
  font-family: 'Post Grotesk'
  src: url('../fonts/post-grotesk/book/post-book.eot')
  src: url('../fonts/post-grotesk/book/post-book.eot?#iefix') format('embedded-opentype'),url('../fonts/post-grotesk/book/post-book.woff2') format('woff2'),url('../fonts/post-grotesk/book/post-book.woff') format('woff')
  font-weight: 400
  font-style: normal

// Post Grotesk Book Italic
@font-face
  font-family: 'Post Grotesk'
  src: url('../fonts/post-grotesk/book-italic/post-book-italic.eot')
  src: url('../fonts/post-grotesk/book-italic/post-book-italic.eot?#iefix') format('embedded-opentype'),url('../fonts/post-grotesk/book-italic/post-book-italic.woff2') format('woff2'),url('../fonts/post-grotesk/book-italic/post-book-italic.woff') format('woff')
  font-weight: 400
  font-style: italic

// Post Grotesk Bold
@font-face
  font-family: 'Post Grotesk'
  src: url('../fonts/post-grotesk/bold/post-bold.eot')
  src: url('../fonts/post-grotesk/bold/post-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/post-grotesk/bold/post-bold.woff2') format('woff2'),url('../fonts/post-grotesk/bold/post-bold.woff') format('woff')
  font-weight: 700
  font-style: normal

// Post Grotesk Bold Italic
@font-face
  font-family: 'Post Grotesk'
  src: url('../fonts/post-grotesk/bold-italic/post-bold-italic.eot')
  src: url('../fonts/post-grotesk/bold-italic/post-bold-italic.eot?#iefix') format('embedded-opentype'),url('../fonts/post-grotesk/bold-italic/post-bold-italic.woff2') format('woff2'),url('../fonts/post-grotesk/bold-italic/post-bold-italic.woff') format('woff')
  font-weight: 700
  font-style: italic

*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

// Font Family inizializations
$sans-serif: 'Post Grotesk', "Helvetica Neue", Helvetica, Arial, sans-serif
$serif: 'Post Grotesk', Cambria, 'Times New Roman', Times, serif
$title: 'Berlingske Serif', Georgia, 'Times New Roman', Times, serif
$monospace: "Lucida Console", Monaco, monospace
