::selection
  +setColor($primary-color)
    background-color: $color
  +setColor($bg-color)
    color: $color

::-moz-selection
  +setColor($primary-color)
    background-color: $color
  +setColor($primary-color)
    background-color: $color
