.accordion
  .accordion__single
    border: 1px solid #979797
    +margin-top(0.5)
    .accordion__single-content
      background-color: $grey_1
      p
        color: $white
    &:hover
      .accordion__single-header
        background-color: $grey_5
        color: $grey_1
    &.opened
      .accordion__single-header
        background-color: $grey_5
        color: $grey_1
        .accordion__single-header-ui
          transform: rotate(180deg)

.accordion__single-header
  position: relative
  cursor: pointer
  background-color: $grey_1
  color: $white
  display: flex
  justify-content: space-between
  +padding(2)
  +padding-right(5)
  +transition

.accordion__single-header-ui
  position: absolute
  right: 6px
  align-self: center
  +transition
  +breakpoint(tab)
    align-self: unset
  .iconae
    vertical-align: base

.accordion__single-content
  display: none
  overflow: hidden
  +padding(2)
